
#about{
    padding: 0px 20px 50px 20px;

    #aboutheader{
        margin-top: 100px;
        margin-bottom: 75px;

        @media screen and (min-width: 700px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #aboutimg{
            width: 250px;
            height: 250px;
            border-radius: 100%;
            overflow: hidden;
            margin: auto;

            img{
                max-width: 100%;
            }
        }

        #abouttitles{
            .title{
                margin: 0;
            }
            .subtitle{
                margin: 0;
                text-align: center;
            }
        }
    }

  
    #aboutintro{
        margin-bottom: 75px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        
        p{
            @media screen and (min-width: 700px){
                max-width: 50%;
            }
        }

        .imgcontainer{
            margin: auto;
            max-width: 192px;

            @media screen and (min-width: 700px){
                margin: 0;
            }
        }
    }

  
    #aboutskills{
        p{
            text-align: center;
        }
        .subtitle{
            margin: 0;
            font-size: 30px;
        }

        #iconcontainer{
            margin-top: 75px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            

            @media screen and (min-width: 460px){
                max-width: 392px;
                margin: 75px auto 0 auto;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-around;
            }

            @media screen and (min-width: 700px){
                max-width: 410px;
                margin: 75px auto 50px auto;
            }

            #skilldesc{
                position: fixed;
                top: 0px;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                height: 100%;
                padding: 100px 5px 10px 5px;

                @media screen and (min-width: 600px){
                    padding: 20px 5px;
                    height: 450px;
                    width: 550px;
                    left: 50%;
                    margin-left: -275px;
                    top: 50%;
                    margin-top: -175px;
                    border: 5px solid $text;
                }

                .button{
                    width: 50px;
                    height: 50px;
                    position: fixed;
                    top: 90px;
                    left: 10px;

                    @media screen and (min-width: 600px){
                        top: 50%;
                        margin-top: -140px;
                        left: 50%;
                        margin-left: -245px;
                    }
                }

                .title{
                    margin-top: 0;
                    color: $yellow;
                    transition: all 0.4s ease;
                }

                img{
                    max-height: 70px;
                    max-width: 145px;
                    transition: all 0.4s ease;
                }

                .copy{
                    max-width: 600px;
                    transition: all 0.4s ease;
                }

                #othericons{
                    width: 100%;
                    max-width: 400px;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    transition: all 0.4s ease;

                    img{
                        height: 60px;
                        max-width: 80px;
                    }
                }
            }

            .icon{
                margin: 30px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                img{
                    height: 75px;
                    max-width: 100px;

                    @media screen and (min-width: 900px){
                        height: 100px;
                        max-width: 125px;
                    }
                }

                .copy{
                    color: $yellow;
                }
            }
        }
    }


    hr{
        max-width: 80%;
    }



    #whatido{
        margin: 100px 0px;

        .subtitle{
            text-align: center;
            font-size: 30px;
        }
        
        .copy{
            text-align: center;
            @media screen and (min-width: 700px){
                max-width: 60%;
                margin: auto;
            }
        }
    }


    #contactme{
        p{
            text-align: center;
        }

        .button{
            margin-top: 40px;
        }

    }


}