#contact{
    padding-top: 100px;
    //background-image: url("/src/assets/images/bckgd-lines-top.svg");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 500px;


    #contactcontainer{

        .copy{
            max-width:90%;
            margin: auto;
            text-align: center;

            @media screen and (min-width: 900px){
                max-width: 40%;
            }
        }

        #statusmessage{
            //opacity: 0;
            transition: 0.4s all ease;
            max-width: 400px;
            margin: auto;
            padding: 10px 5px;
            border-radius: 5px;

            #messagecontainer{
                text-align: center;
                color: #fff;
            }
        }

        .success{
            background-color: green;
        }

        .error{
            background-color: red;
        }

        #formcontainer{

            form{
                display: flex;
                flex-direction: column;
                max-width: 400px;
                margin: 40px auto;

                label{
                    font-family: $copyfont;
                    color: #333;
                    margin-bottom: 5px;
                }

                .formfield{
                    border: 1px solid $teal;
                    padding: 10px;
                    border-radius: 2px;
                    margin-bottom: 15px;
                    transition: border 0.1s ease;
                    font-family: $copyfont;

                    &:focus{
                        border: 3px solid $teal;
                    }
                }

                textarea{
                    height: 200px;
                    resize: none;
                    font-family: $copyfont;
                }

                .button{
                    background-color: #fff;
                    margin-top: 40px;
                }
            }
        }
    }
}