@font-face {
    font-family: Raleway-Black;
    // src: url('/src/assets/styles/fonts/Raleway-Black.ttf');
    src: url('/dist/fonts/Raleway-Black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Raleway-Thin;
    // src: url('/src/assets/styles/fonts/Raleway-Regular.ttf');
    src: url('/dist/fonts/Raleway-Regular.ttf');
    font-weight: thin;
}

$titlefont: 'Raleway-Black', 'Arial', sans-serif;
$titleweight: bold;
$titlesize: 80px;

$copyfont: 'Raleway-Thin', 'Arial', sans-serif;
$copyweight: thin;
$copysize: 20px;