header{
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;

    .layer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    background-color: $bckgd-color;
    transition: all 0.2s ease-out;

    #hamburgercontainer{
         display: none;

    #hamburger{
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 7px;
        margin-left: 20px;
        margin-top: 20px;
        background-color: $yellow;
        box-shadow: 0px 12px 0px $yellow,
                    0px 24px 0px $yellow;

        .closemenu{
            color: $yellow;
            font-family: $copyfont;
            font-weight: $titleweight;
            font-size: 20px;
            text-align: center;
        }
    }
}

    .openmenu{
        box-shadow: none !important;
        height: 30px !important;
        background-color: transparent !important;
    }


    #maintitles{
        width: 100%;
        display: none;

        .title{
            opacity: 0;
            transform: translateY(-15px);
            transition: all 0.8s linear;
        }

        .subtitle{
            opacity: 0;
            transform: translateY(-15px);
            transition: all 0.8s linear;
        }
    }

    #statement{
        display: none;

        @media screen and (min-width: 900px){
            display: block;
            opacity: 0;
            transform: translateY(15px);
            transition: all 0.3s ease;
            max-width: 510px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -250px;
            margin-top: -80px;
        }
    }

    #logocontainer{
        cursor: pointer;
        width: 90px;
        height: 90px;
        position: fixed;
        top: 5px;
        left: 50%;
        margin-left: -45px;
        z-index: 101;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 500px){
            left: 75px;
            margin-left: 0;
        }
        

        img{
            width: 70px;
            max-width: 100%;
            display: block;

            @media screen and (min-width: 500px){
                width: 80px;
            }
        }
    }

    //nav links
    #mainnavigation{
        transition: all 0.4s ease;

        @media screen and (min-width: 900px){
            display: flex;
            flex-direction: row;
            margin-right: 20px;
        }

        #home{
            display: none;
            @media screen and (min-width: 900px){
                margin-left: 30px;
            }
        }

    .navitem{
        font-size: 16px;
        line-height: 70px;
        font-family: 'Raleway-Black';
        color: $text;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-decoration: none;

        @media screen and (min-width: 900px){
            padding: 0px 30px;
        }

        .arrow{
            width: 0; 
            height: 0;
        }

        .leftarrow{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-right:15px solid rgba($text, 0.4); 
        }

        .rightarrow{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-left:15px solid rgba($text, 0.4); 
        }

        .downarrow{
            border-top: 15px solid rgba($text, 0.4);
            border-right: 15px solid transparent; 
            border-left:15px solid transparent; 
        }
    }

    #portfolio{
        color: $text;

        .arrow{
            display: none;
        }
    }

    #resume{
        display: none;
    }

    #about{ 
        color: $text;

        .arrow{
            display:none;
        }
    }

    #nav-contact{
        color: $text;

       .arrow{
           display:none;
       }
    }
}

#mainnavigation.beforehamburger{
    height: 0px;
    .navitem{
        display: none !important;
    }
}

#mainnavigation.hamburgernav{
    background-color: rgba(15,15,15,0.9) !important;
    height: 100vh;
    margin-top: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media screen and (min-width: 900px){
        flex-direction: row;
        height: 70px;
    }

    .navitem{
        display:block;
        margin:0;
        padding: 0;
        position: static;

        @media screen and (min-width: 900px){
            width: 100px;
        }

        &:first-child{
            margin-top: 40px;

            @media screen and (min-width: 900px){
                margin-top: 0;
                margin-left: 20px;
            }
        }
    }

}
}
}






//full screen header
header.fullscreen{

    background-image: url("../images/bckgd.svg");
    background-position: center bottom;
    background-repeat: repeat-x;

    @media screen and (min-width: 900px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
    }

    .layer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $bckgd-color;
    width: 100vw;
    height: 100vh;

    @media screen and (min-width: 500px){
        grid-template-columns: repeat(12, 1fr);
    }

    @media screen and (min-width: 900px){
        display: flex;
        justify-content: flex-end;
        grid-column: 1 / -1;
        width: 50vw;
        justify-self: start;
        align-items: center;
    }

    #maintitles{
        grid-column: 1 / -1;
        grid-row-start: 1;
        display: block;
        transition: all 0.4s ease-out;
        width: 100vw;

        @media screen and (min-width: 900px){
            position: absolute;
            width: 50vw;
            right: 0px;
            top: 0px;
        }

        .title{
            opacity:1;
            transform: translateY(0px);
            margin-bottom: 0;

            @media screen and (min-width:900px){
               transition: all 0.4s ease;
               &:hover{
                   transform: translateY(-5px);
               }
            }
        }

        .subtitle{
            text-align: center;
            margin: 0;
            opacity: 1;
            transform: translateY(0px);

            @media screen and (min-width:900px){
                transition: all 0.4s ease;
                &:hover{
                    transform: translateY(-5px);
                }
             }
        }
    }

    #logocontainer .stopped{
        img{
            animation: none;
        }
    }

    #logocontainer{
        grid-column:1/-1;
        grid-row: 1/-1;
        width: 200px;
        height: auto;
        max-width: 100%;
        transform: translateY(0px);
        transition: 0.4s linear;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -50px;

        @media screen and (min-width: 700px){
            margin-top: -90px;
        }

        @media screen and (min-width: 900px){
            position: static;
            max-width: 220px;
            margin: 0;
            margin-right: -105px;
            display: flex;
            justify-content: flex-end;
        }

        img{
            width: 200px;
            max-width: 80%;
            animation: pulse 9s linear infinite;

            @media screen and (min-width:700px){
                max-width: 100%;
                width: 220px;
                height: 220px;

            }

            @media screen and (min-width: 900px){
                transition: all 0.5s ease;
                justify-self: flex-end;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }
    }

    #mainnavigation{
        transition: all 0.4s ease;
        @media screen and (min-width: 900px){
            display: none;
            opacity: 0;
            flex-direction: row;
            position: absolute;
            width: 340px;
            left: 50%;
            margin-left: -170px;
            top: 80%;
        }
    
    .navitem{
        font-size: 20px;
        line-height: 20px;

        @media screen and (min-width: 900px){
            padding: 0px 20px;

            &:hover{
                color: $teal;
                transform: translateY(-5px);
            }
        }
    }

        #portfolio{
            transition: all 0.4s ease-out;
            position: fixed;
            z-index: 99;
            top: 50%;
            left: 50%;
            margin-left: -42px;
            margin-top: 140px;
            text-decoration: none;

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;

                &:hover{
                    color: $teal;
                    transform: translateY(-5px);
                }
            }

            .arrow{
                display: block;
                animation: arrowsd 1s linear infinite;
                border-top-color: rgba($text, 0.4);
                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }

        #about{
           writing-mode: vertical-rl;
            text-orientation: mixed;
            transition: all 0.4s ease-out;
            position: fixed;
            left: 0px;
            bottom: 50%;
            margin-left: 20px;
            margin-bottom: -27px;
            text-decoration: none;

            @media screen and (min-width: 500px){
                left: 50%;
                margin-left: -170px;
            }

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;
                writing-mode: horizontal-tb;

                &:hover{
                    color: $teal;
                    transform: translateY(-5px);
                }
            }

            .arrow{
                display: block;
                animation: arrowsl 1s linear infinite;
                border-right-color: rgba($text, 0.4);

                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }

        #nav-contact{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transition: all 0.4s ease-out;
            position: fixed;
            transform: rotate(180deg);
            color: $text;
            right: 0%;
            bottom: 50%;
            margin-right: 20px;
            margin-bottom: -50px;
            text-decoration: none;

            @media screen and (min-width: 500px){
                right: 50%;
                margin-right: -160px;
            }

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;
                writing-mode: horizontal-tb;
                transform: none;

                &:hover{
                    color: $teal;
                    transform: translateY(-5px);
                }
            }

            .arrow{
                display:block;
                animation: arrowsl 1s linear infinite;
                border-right-color: rgba($text, 0.4);

                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }
    
    }
}

}








//footer
footer{
    margin-top: 100px;
    padding: 30px 15px;
    background: $bckgd-color;

    @media screen and (min-width: 900px){
        display: flex;
        justify-content: space-around;
    }

    #footerlogo{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 900px){
            flex-direction: row;
            width: 400px;
        }
 
        #names{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 70px;

            @media screen and (min-width: 900px){
                margin-left: 20px;
            }

            .title{
                font-size: 30px;
                line-height: 0;
                margin: 0;
                margin-top: 20px;
            }
 
            .subtitle{
                margin: 0;
                padding: 0;
                line-height: 0;
            }
 
        }

      img{
        max-width: 100px;
        margin-bottom: 20px;

        @media screen and (min-width: 900px){
            margin: 0;
        }
      }

    }

    #contactinfo{
        margin-top: 40px;

        #socials{
            display: flex;
            flex-direction: row;
            width: 90%;
            max-width: 350px;
            justify-content: space-around;
            margin: auto;

            @media screen and (min-width: 900px){
                justify-content: space-between;
                width: 250px;
            }

            img{
                width: 30px;
                filter: invert(.7);
            }
        }
    }
  
 
}

