header{
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;

    .layer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //align-items: center;
    height: 70px;
    width: 100vw;
    background-color: $bckgd-color;
    transition: all 0.2s ease-out;

    #maintitles{
        width: 100%;
        display: none;

        .title{
            opacity: 0;
            transform: translateY(-15px);
            transition: all 0.8s linear;
        }

        .subtitle{
            opacity: 0;
            transform: translateY(-15px);
            transition: all 0.8s linear;
        }
    }

    #logocontainer{
        width: 90px;
        transform: translateY(15px);
        display: flex;
        justify-content: center;

        @media screen and (min-width: 900px){
            margin-left: 20px;
        }

        img{
            max-width: 100%;
            display: block;
        }
    }

    //nav links
    #mainnavigation{

        @media screen and (min-width: 900px){
            display: flex;
            flex-direction: row;
            margin-right: 20px;
        }
    .navitem{
        font-size: 16px;
        line-height: 70px;
        font-family: 'Raleway-Black';
        color: $text;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-decoration: none;

        @media screen and (min-width: 900px){
            padding: 0px 10px;
        }

        .arrow{
            width: 0; 
            height: 0;
        }

        .leftarrow{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-right:15px solid rgba($text, 0.4); 
        }

        .rightarrow{
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-left:15px solid rgba($text, 0.4); 
        }

        .downarrow{
            border-top: 15px solid rgba($text, 0.4);
            border-right: 15px solid transparent; 
            border-left:15px solid transparent; 
        }
    }

    #portfolio{
        color: $text;

        .arrow{
            display: none;
        }
    }

    #about{ 
        color: $text;

        .arrow{
            display:none;
        }
    }

    #resume{
        color: $text;

       .arrow{
           display:none;
       }
    }
}
}
}

//full screen header
header.fullscreen{

    background-image: url("../images/bckgd.svg");
    background-position: center bottom;
    background-repeat: repeat-x;
    //height: 100vh;

    // @media screen and (min-width: 650px){
    //     background-repeat: repeat-x;
    // }

    @media screen and (min-width: 900px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
    }

    .layer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: $bckgd-color;
    width: 100vw;
    height: 100vh;

    @media screen and (min-width: 500px){
        grid-template-columns: repeat(12, 1fr);
    }

    @media screen and (min-width: 900px){
        display: flex;
        justify-content: flex-end;
        grid-column: 1 / -1;
        width: 50vw;
        justify-self: start;
        align-items: center;
    }

    // @media screen and (min-width: 650px){
    //     grid-template-columns: 1fr 1fr 1fr;
    //     height: 100vh;
    //     background-color: #fff;
    //     z-index: -1;
    //     background-repeat: repeat-x;
    
    // }

    #maintitles{
        grid-column: 1 / -1;
        grid-row-start: 1;
        display: block;
        transition: all 0.4s ease-out;
        width: 100vw;

        @media screen and (min-width: 900px){
            //grid-column: 5 / -1;
            position: absolute;
            width: 50vw;
            right: 0px;
            top: 0px;
            //top: 20vh
            //margin-right: 
        }

        // @media screen and (min-width: 650px){
        //     grid-column: 2 / 4;
        //     display: block;
        //     width: 100%;
        //     align-self: start;
        //     //justify-self: end;
        //     margin-left: 50px;
        // }

        .title{
            opacity:1;
            transform: translateY(0px);
            margin-bottom: 0;

            @media screen and (min-width:900px){
               transition: all 0.4s ease;
               &:hover{
                   transform: translateY(-5px);
               }
            }
        }

        .subtitle{
            text-align: center;
            margin: 0;
            opacity: 1;
            transform: translateY(0px);

            @media screen and (min-width:900px){
                transition: all 0.4s ease;
                &:hover{
                    transform: translateY(-5px);
                }
             }
        }
    }

    #logocontainer .stopped{
        img{
            animation: none;
        }
    }

    #logocontainer{
        grid-column:1/-1;
        grid-row: 1/-1;
        //position: relative;
        //top: 50%;
        //margin-top: -75px;
        width: 200px;
        height: auto;
        max-width: 100%;
        //align-self: center;
        transform: translateY(0px);
        transition: 0.4s linear;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -50px;

        @media screen and (min-width: 700px){
            margin-top: -90px;
        }

        @media screen and (min-width: 900px){
            // justify-self: flex-end;
            position: static;
            max-width: 220px;
            margin: 0;
            //transform: translateX(50vw);
            margin-right: -105px;
            display: flex;
            justify-content: flex-end;
            //animation: pulse 9s linear infinite;
        }

        // @media screen and (min-width: 600px){
        //     width: 300px;
        // }

        // @media screen and (min-width: 650px){
        //     grid-column: 1 / -1;
        //     align-self: start;
        //     justify-content: flex-end;
        //     width: 50vw;
        //     z-index: 2;
        //     height: 100vh;
        //     transform: none;
        //     background-color: $bckgd-color;
        // }

        img{
            //height: 100% !important;
            max-width: 80%;
            animation: pulse 9s linear infinite;

            @media screen and (min-width:700px){
                //max-width: 100%;
                //max-height: 100%;
                max-width: 100%;
                width: 220px;
                height: 220px;
                //transform: translateX(70px);

            }

            @media screen and (min-width: 900px){
                transition: all 0.5s ease;
                justify-self: flex-end;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }
    }

    #mainnavigation{
        @media screen and (min-width: 900px){
            display: none;
            flex-direction: row;
            //justify-self: flex-end;
            position: absolute;
            width: 340px;
            left: 50%;
            margin-left: -170px;
            top: 80%;
        }
    
    .navitem{
        font-size: 20px;
        line-height: 20px;

        @media screen and (min-width: 900px){
            // line-height: 60px;
            padding: 0px 20px;

            &:hover{
                color: $teal;
                transform: translateY(-5px);
            }
        }


        // @media screen and (min-width: 650px){
        //     //display: none;
        //     z-index: 99;
        //     grid-column: 1 / 2;
        //     grid-row-start: 1;
        // }
    }

        #portfolio{
            //bottom: 50%;
            //margin-bottom: 100px;
            transition: all 0.4s ease-out;
            position: fixed;
            z-index: 99;
            top: 50%;
            left: 50%;
            margin-left: -42px;
            margin-top: 140px;
            text-decoration: none;

            // @media screen and (min-width: 500px){
            //     bottom: 50%;
            //     margin-bottom: -140px;
            // }

            // @media screen and (min-width: 700px){
            //     margin-bottom: -160px;
            // }

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;
            }

            .arrow{
                display: block;
                animation: arrowsd 1s linear infinite;
                border-top-color: rgba($text, 0.4);
                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }

        #about{
           writing-mode: vertical-rl;
            text-orientation: mixed;
            transition: all 0.4s ease-out;
            position: fixed;
            left: 50%;
            bottom: 50%;
            margin-left: -180px;
            margin-bottom: -29px;
            text-decoration: none;

            // @media screen and (min-width: 500px){
            //    // position: static;
            //     //grid-column: 4 / 5;
            //     left: 50%;
            //     margin-left: -150px;
            //     margin: none;
            // }

            @media screen and (min-width: 700px){
                margin-left: -200px;
            }

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;
                writing-mode: horizontal-tb;
            }

            // @media screen and (min-width: 650px){
            //     position: static;
            //     writing-mode: horizontal-tb;
            //     margin: 0;
            // }
            .arrow{
                display: block;
                animation: arrowsl 1s linear infinite;
                border-right-color: rgba($text, 0.4);

                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }

        #resume{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transition: all 0.4s ease-out;
            position: fixed;
            transform: rotate(180deg);
            color: $text;
            right: 50%;
            bottom: 50%;
            margin-right: -180px;
            margin-bottom: -40px;
            text-decoration: none;

            // @media screen and (min-width: 500px){
            //     right: 50%;
            //     margin-right: -150px;
            // }

            // @media screen and (min-width: 700px){
            //     margin-right: -160px;
            // }

            @media screen and (min-width: 900px){
                position: static;
                margin: 0;
                writing-mode: horizontal-tb;
                transform: none;
            }

            // @media screen and (min-width: 650px){
            //     position: static;
            //     writing-mode: horizontal-tb;
            //     margin: 0;
            //     transform:none;
            // }

            .arrow{
                display:block;
                animation: arrowsl 1s linear infinite;
                border-right-color: rgba($text, 0.4);

                @media screen and (min-width: 900px){
                    display: none;
                }
            }
        }
    //}
    }
}

}

//home page

#landing{
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // z-index: -1;
    transition: all 0.4s linear;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('/src/assets/images/bckgd.svg');
    //background-size: cover;
    height: 100vh;
    //height: 500px;
}