@import 'fonts';
@import 'colors';
@import 'animations';
@import 'home';
@import 'portfolio';
@import 'about';
@import 'contact';
@import 'hovereffects';


*{
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    
}

section{
    margin: 0;
}

.title{
    font-family: $titlefont;
    color: $teal;
    //color: red;
    font-size: 40px;
    font-weight: $titleweight;
    text-align: center;

    @media screen and (min-width: 900px){
        font-size: 50px;
    }
}

.subtitle{
    color: $teal;
    font-size: 25px;
    font-family: $copyfont;
}

.copy{
    color: $text;
    font-size: 18px;
    font-family: $copyfont;
    line-height: 25px;
}

.hide{
    display: none;
}

.button{
    width: 200px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $yellow;
    border-radius: 10px;
    color: $yellow;
    font-size: 20px;
    font-family: $copyfont;
    margin: 0 auto;
}

