@import 'fonts';
@import 'colors';
@import 'animations';
@import 'home';
@import 'portfolio';
@import 'about';


*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    
}

section{
    margin: 0;
}

.title{
    font-family: $titlefont;
    color: $teal;
    //color: red;
    font-size: 40px;
    font-weight: $titleweight;
    text-align: center;
}

.subtitle{
    color: $teal;
    //font-weight: $titleweight;
    font-size: 25px;
    font-family: $copyfont
}

.copy{
    color: $text;
    font-size: 18px;
    font-family: $copyfont;
}

.hide{
    display: none;
}

.button{
    width: 200px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $yellow;
    border-radius: 10px;
    color: $yellow;
    font-size: 20px;
    font-family: $copyfont;
    margin: 0 auto;
}

